* {
    margin: 0;
    padding: 0;
}

:root {
    --white-main: #FFF;
    --gray-secondary: #C0C0C0;
    --blue-button: #167BF7;
    --background-color: #00030C;
    --main-font: 'system-ui';
}

body {
    background-color: var(--background-color);
    color: var(--white-main);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(111, 0, 255);
}

.container__box {
    margin: 0 6em;
}

.main-section {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__title {
    font-size: 30px;
    font-weight: lighter;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.container__button {
    display: block;
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-main);
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__button:hover {
    background-color: #182C61;
}

.button-secondary {
    background-color: transparent;
    border: 2px solid var(--white-main);
    text-decoration: none;
}

.container__warning {
    font-size: 12px;
    color: var(--gray-secondary);
}

.container__image {
    margin: 1em 0 2em 0;
}


.container_image_secondary {
    width: 70%;
}

.secondary-section {
    align-items: center;
    margin: 0 10em;
}

.description__title {
    font-weight: 700;
    font-size: 40px;
    color: var(--white-main);
    margin-bottom: 0.1em;
}

.paragraph {
    font-weight: lighter;
    font-size: 30px;
    color: var(--gray-secondary);
}

.button-third {
    display: inline-block;
    margin-top: 1em;
}

.container__description {
    padding: 2em;
}

.list__devices {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 4em 0;
}

.section__devices {
    text-align: center;
}

.title__devices {
    font-size: 40px;
    color: var(--white-main);
}

.list__item {
    font-size: 30px;
    font-weight: lighter;
    color: var(--gray-secondary);
}